/* This controls overall look of the site such as background colour. */
body {
  background-color: #362108;
}

div.scoreboard {
  position: absolute;
  top: calc(50% - 20vmin);
  left: calc(10%);
  width: 40vmin;
  height: 10vmin;
  display: flex;
}

div.scoreboard#player1 {
  margin-left: 3vmin;
}

/* Sets the board size (80vmin) which is required due to the way that the pieces are rendered,
the background color sets the red squares which pieces cannot go into and the top/left sets the location of the board */
#board {
  position: absolute;
  top: calc(50% - 40vmin);
  left: calc(60% - 40vmin);
  width: 80vmin;
  height: 80vmin;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #232621;
  background-color: #e05061;
  overflow: hidden; }

/* This sets the size of the black squares and its color.*/
#board .tile {
  width: 10vmin;
  height: 10vmin;
  position: absolute;
  background-color: #232621; }

#board .player1pieces .piece {
  position: absolute;
  width: 8vmin;
  height: 8vmin;
  background-color: red;
  border-radius: 6vmin;
  margin-top: 1vmin;
  margin-left: 1vmin;
  cursor: pointer;
}

div.pieces .player1pieces .selected {
  background-color: rgb(216, 185, 10);
}

#board .player2pieces .piece {
  position: absolute;
  width: 8vmin;
  height: 8vmin;
  background-color: black;
  border-radius: 6vmin;
  margin-top: 1vmin;
  margin-left: 1vmin;
  cursor: pointer;
}

div.pieces .player2pieces .selected {
  
}